<div class="well-lg">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="title"><span class="glyphicon glyphicon-user"></span> Sign up</h3>
      </div>
      <div class="panel-body">
        <%= render 'userform' %>
      </div>
    </div>
  </div>
</div>