Where your existing commutes will be.
<h1>Current Commutes</h1>

<label class="switch-light well" onclick="">
  <input type="checkbox" id="commutes-type-toggle">
  <span>
    <span>Passenger</span>
    <span>Driver</span>
  </span>

  <a class="btn btn-primary"></a>
</label>

<div id="passengers-commutes-list">
  <%= render 'passengercommutes_list' %>
</div>
<div id="drivers-commutes-list" style="display:none">
  <%= render 'drivercommutes_list' %>
</div>




<script type="text/javascript">

$("#commutes-type-toggle").on("click", function(){
  $("#passengers-commutes-list").toggle();
  $("#drivers-commutes-list").toggle();
})


</script>