<div class="landing-page-bg">

  <div class="container">
    <div class="row">
      <div class="col-md-12 welcome-panel panel-default">
      <p><h1>Bye for now!</h1></p>
      <p><h1>Happy Networking!<br></p>
    </div>
  </div>
</div>