<div class="landing-page-bg">

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-1 welcome-panel panel-default">
  <p><h1>Make connections.<br></p>
  <p><h2>Meet professionals on your way to work.</h2></p><br>

  <% if current_user %>

    <%= button_to "Make a commute", newcommute_path, method: "get", class: 'btn btn-warning btn-lg' %>

  <% else %>

      <%= button_to "Sign up", new_user_path, method: "get", class: 'btn btn-warning btn-lg btn-consistent' %> <br>
      <%= button_to "Log in", new_session_path, method: "get", class: 'btn btn-primary btn-lg btn-consistent' %>

  <% end %>

  </div>
</div>