<div class="container new-center">

  <h1>Create a new commute</h1>

  <div class="switch-light-container">
    <label class="switch-light well">
      <input type="checkbox" id="commutes-type-toggle">
      <span>
        <span>Passenger</span>
        <span>Driver</span>
      </span>
      <a class="btn btn-primary"></a>
    </label>
  </div>

  <div id="new-passenger-container">
    <%= render 'passengercommutes' %>
  </div>

  <div id="new-driver-container" class="hidden">
    <%= render 'drivercommutes' %>
  </div>

   <div class="row">
          <%= link_to(raw('View your commutes <i class="fa fa-arrow-right"></i>'), commuteslist_path, class: 'btn btn-primary btn-lg btn-consistent center-block' )%>
        </div>

</div>

<script type="text/javascript">

$("#commutes-type-toggle").on("click", function(e){
  $("#new-passenger-container").toggleClass("hidden");
  $("#new-driver-container").toggleClass("hidden");
})


</script>