$bg-color: #eff;
$navbar-color: #cdd;
$button-active: #911;
$button-inactive: #EFEFEF;


body {
  background-color: $bg-color;
  padding: 5px;
  margin: 10px;
}

header {
  background-color: $navbar-color;
  height: 50px;
  padding: 10px;
  ul li {
    list-style-type: none;
    display: inline; 
  }
  div:nth-child(1) {
   float: left; 
  }
  div:nth-child(2) {
   float: right; 
  }
}

// flash message
.flash {
  background-color: #ccc;
  padding: 10px;
  margin: 10px
}


.d-com {
  background-color: #ddd;
  padding: 5px;
  margin: 10px;
  max-width: 400px;
}


// google maps 
#map-canvas {
 height: 400px;
 width: 75%;
 border-radius: 10px;
 margin-top: 10px;
}


// button-like check boxes for the days of week
.day {
  background-color: $button-inactive;
  overflow:auto;
  display: inline-block;
  margin: -2px;
  -webkit-user-select: none;
    span {
      text-align:center;
      padding: 2px 5px;
      display: inline-block;
      width: 40px
    }
    input {
      position:absolute;
      top:-20px;
      width: 40px
    }
  input:checked + span {
    background-color: $button-active;
    color:white;
  }
}

 #map-canvas {
   height: 400px;
   width: 75%;
   border-radius: 10px;
   margin-top: 10px;
   float: left;
 }

 #directions-panel {
  float: right;
  width: 230px;
  max-height: 400px;
 }

.display-day {
  background-color: $button-active;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 2px 4px;
  width: 40px
}


// form containers
#new-passenger-container {
  background-color: #ddd;
  padding: 5px;
  margin: 10px;
  max-width: 600px;
}

#new-driver-container {
  background-color: #ddd;
  padding: 5px;
  margin: 10px;
  max-width: 600px;
}

.row.center {
  margin: 0 auto;
  align: center;
}




.hidden {
  display: none;
}

// SWITCH-BAR refactor later please.
@media only screen {
  .switch-light-container {
    max-width: 700px;
  }
  .switch-light {
    display: block;
    min-height: 1.875em;
    position: relative;
    overflow: visible;
    padding: 0;
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
<<<<<<< HEAD
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .switch-light a {
      display: block;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }
    .switch-light label, .switch-light > span {
      line-height: 1.875em;
      vertical-align: middle; }
    .switch-light input:focus ~ a, .switch-light input:focus + label {
      outline: 1px dotted #888; }
    .switch-light label {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%; }
    .switch-light input {
      position: absolute;
      opacity: 0;
      z-index: 5; }
      .switch-light input:checked ~ a {
        right: 0%; }
    .switch-light > span {
      position: absolute;
      left: -6.25em;
      width: 100%;
      margin: 0;
      padding-right: 6.25em;
      text-align: left; }
      .switch-light > span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 6.25em;
        text-align: center; }
        .switch-light > span span:last-child {
          left: 50%; }
    .switch-light a {
      position: absolute;
      right: 50%;
      top: 0;
      z-index: 4;
      display: block;
      width: 50%;
      height: 100%;
      padding: 0; }
 }
=======
      -moz-box-sizing: border-box;}
  .switch-light a {
    display: block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .switch-light label, .switch-light > span {
    line-height: 1.875em;
    vertical-align: middle; }
  .switch-light input:focus ~ a, .switch-light input:focus + label {
    outline: 1px dotted #888; }
  .switch-light label {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%; }
  .switch-light input {
    position: absolute;
    opacity: 0;
    z-index: 5; }
    .switch-light input:checked ~ a {
      right: 0%; }
  .switch-light > span {
    position: absolute;
    left: -6.25em;
    width: 100%;
    margin: 0;
    padding-right: 6.25em;
    text-align: left; }
  .switch-light > span span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 6.25em;
    text-align: center; }
    .switch-light > span span:last-child {
      left: 50%; }
  .switch-light a {
    position: absolute;
    right: 50%;
    top: 0;
    z-index: 4;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0; 
  }
}
>>>>>>> features/views
