$bg-color: #eff;
$navbar-color: #cdd;
$button-active: #911;
$button-inactive: #EFEFEF;


body {
  background-color: $bg-color;
  padding: 5px;
  margin: 10px;
}

header {
  background-color: $navbar-color;
  height: 50px;
  padding: 10px;
  ul li {
    list-style-type: none;
    display: inline; 
  }
  div:nth-child(1) {
   float: left; 
  }
  div:nth-child(2) {
   float: right; 
  }
}

.flash {
  background-color: #ccc;
  padding: 10px;
  margin: 10px
}

.commute div {
  background-color: #ddd;
  padding: 5px;
  margin: 10px
}


// google maps 
#map-canvas {
 height: 400px;
 width: 75%;
 border-radius: 10px;
 margin-top: 10px;
}


// button-like check boxes for the days of week
.day {
  background-color: $button-inactive;
  overflow:auto;
  display: inline-block;
  margin: -2px;
  -webkit-user-select: none;
    span {
      text-align:center;
      padding: 2px 5px;
      display: inline-block;
      width: 30px
    }
    input {
      position:absolute;
      top:-20px;
      width: 30px
    }
  input:checked + span {
    background-color: $button-active;
    color:white;
  }
}

.display-day {
  background-color: $button-active;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 2px 4px;
  width: 30px
}
