<h3>Select A Commute (Driver)</h3>
<select id="commute_driver" class="form-control">
  <option disabled selected> -- select a commute -- </option>
  <% @user.drivercommutes.each_with_index do |commute,index| %>
    <% @driver_commute_ids << [index,commute.id]%>
    <option class="commute_driver_info" value="<%= @driver_commute_ids%>,driver"><%=index%> <%= commute.origin_name%> to <%= commute.destination_name%></option>
  <% end %>
</select>