<h3>Select Commute (Passenger)</h3>
<select id="commute_passenger" class="form-control">
  <option disabled selected> -- select a commute -- </option>
  <% @user.passengercommutes.each_with_index do |commute,index| %>
    <option value="<%=index%>,<%=commute.id%>,passenger"><%= commute.origin_name%> to <%= commute.destination_name%></option>
  <% end %>
</select>