<% existing_requests = 0 %>

<% if current_user.drivercommutes %>
  <% current_user.drivercommutes.each do |commute| %>
    <%= render 'pendingrequestcommute' %>
  <% end %>
<% end %>
<% if current_user.passengercommutes %>
  <% current_user.drivercommutes.each do |commute| %>
    <%= render 'pendingrequestcommute' %>
  <% end %>
<% end %>
    
<% if existing_requests > 0 %>
  <%= link_to(raw('<i class="fa fa-user-plus fa-lg"></i>'), requests_path, style: 'margin-top: 15px') %></li>
<% end %>